.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(1, 2, 4, 0.74);
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    width: 70%;
    margin: 1rem auto;
    border: 2px solid #ccc;
  }