.expenses-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0 0 10px 0;
    width: 70%;
}

.expenses-list__fallback{
    color: #ebebeb;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 6rem;
    text-align: center;
}

li{
    width: 100%;
}