.expenses-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 70%;
}

.expenses-filter__control {
  font: inherit;
  width: 100%;
  padding: 1rem;
  background-color: rgba(1, 2, 4, 0.664);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.expenses-filter__control:focus {
  outline: none;
}
.expenses-filter__control > label {
  font-weight: bold;
  color: #ccc;
  margin-right: 0.5rem;
}

select {
  font: inherit;
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: black;
  color: #ccc;
}
