.new-expense {
  text-align: center;
  margin: 2rem 0;
  width: 70%;
  background-color: #414a57;
  padding: 1%;
}

.edit {
  font: inherit;
  cursor: pointer;
  background-color: #213edf;
  color: white;
  border: 1px solid #14b9a3;
  padding: 0.5rem 2rem;
  border-radius: 6px;
}

.edit:hover {
  background-color: #14b9a3;
  color: black;
}
