.new-expense {
  text-align: center;
  margin: 2rem 0;
  width: 70%;
  background-color: rgba(1, 2, 4, 0.596);
  padding: 1%;
}

.edit {
  font: inherit;
  cursor: pointer;
  background-color: #c3c4ca;
  color: rgb(12, 12, 12);
  border: 1px solid #14b9a3;
  padding: 0.5rem 2rem;
  border-radius: 6px;
}

.edit:hover {
  background-color: #e7ecec;
  color: black;
}
