body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  max-width: 80vw;
  margin: auto;
  background-color: rgb(31, 29, 29);
}

h1{
  font-size: 4rem;
  color: #5e6cad;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  box-shadow: 2px 3px 6px 0.1rem #2f32e9;
}

.container{
  background-color: rgb(61, 59, 59);
}