body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  max-width: 80vw;
  margin: auto;
  background: blur(2px)
}

h1{
  font-size: 4rem;
  color: #dadce2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  box-shadow: 2px 3px 6px 0.1rem #ececf5;
}

.container{
  height: 100vw;
  background-image: url('./components/assets/download.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .app{
    max-width: 100vw;
  }

  h1{
    font-size: 2rem;
  }

  .container{
    height: 100%;
  }
}